header {
    background-color: darkred;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
}

.logo {
    height: 50px;
}

.hamburger {
    font-size: 30px;
    color: white;
    cursor: pointer;
    border: none;
    background: transparent;
    display: none;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

.nav ul li {
    position: relative;
}

.header-link,
.nav ul li span {
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: darkred;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

.nav ul li:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    color: darkred;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .hamburger {
        display: block;
        margin-right: 40px;
        margin-top: -15px;
    }

    .nav {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: darkred;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav.open {
        transform: translateX(0);
    }

    .nav ul {
        flex-direction: column;
        align-items: flex-start;
        background-color: darkred;
        color: white;
        padding-left: 10px;

    }

    .nav ul li {
        width: 100%;
    }

    .header-link,
    .nav ul li span {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 10px 20px;
    }

    .dropdown-content {
        position: static;
        width: 100%;
    }

    .dropdown-content a {
        font-size: 14px;
    }
}